.features {
  position: relative;
  z-index: 60;
  margin-top: 200px;
  /* Overlap with hero section */
  padding-bottom: 10rem;

}

.container {
  max-width: 1200px;
  margin-top: 200px;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 10;
}

.bgShapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  pointer-events: none;
  z-index: 1;
}

.blobLeft {
  position: absolute;
  top: -280px;
  /* Overlap with hero */
  left: -50px;
  /* Bleed off screen left */
  width: 200px;
  /* Big full size */
  height: 550px;
  opacity: 1;
  z-index: 1;
}

.dotsPattern {
  position: absolute;
  top: -80px;
  left: 2%;
  width: 150px;
  height: 150px;
  background-image: radial-gradient(var(--bg-light-yellow) 20%, transparent 20%);
  background-size: 20px 20px;
  z-index: 2;
  opacity: 0.8;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-content: center;
  justify-items: center;
}

.card {
  background-color: var(--white);
  width: 100%;
  height: 120%;
  max-width: 320px;
  border-radius: 40px;
  padding: 2.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 152, 0, 0.1);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 50px rgba(255, 152, 0, 0.1);
}

.iconWrapper {
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  color: var(--text-dark);
}

.desc {
  color: var(--text-muted);
  font-size: 0.9rem;
  font-weight: 600;
  display: inline-block;
}

.dottedLine {
  border-bottom: 2px dotted var(--primary-orange);
  padding-bottom: 2px;
  cursor: pointer;
}

@media (max-width: 992px) {
  .features {
    margin-top: 2rem;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}